In [1]:
##### Aritmetik Operations

In [3]:
3  +  5

8

In [5]:
8 - 4

4

In [6]:
int("8") - float ("5")

3.0

In [7]:
3.0 * 5

15.0

In [8]:
20 / 4

5.0

In [9]:
20 / 6

3.3333333333333335

In [10]:
4 * 5

20

In [11]:
float(20)

20.0

In [13]:
float (2) * 3.2

6.4

In [14]:
20 / 5 + 7

11.0

In [18]:

x = (4 + 7) ** (3 ** (1 * 2 /2) / 2 )
x

36.4828726939094

In [19]:
11 ** 1.5

36.4828726939094

In [20]:
2 ** 3

8

In [21]:
x = (4 + 7) ** (4 ** (1 * 2 /2) / 2 )
x

121.0

In [22]:
11 **2    ##### 11 in karesi

121

### TASK
#yaricapi 7 olan bir dairenin alanini bulan bir python kodunu yazin

In [23]:
x = 7 ** ( 3.14)
x

450.4098148671133

In [25]:
r = 7
pi = 3.14
alan = pi * r ** 2
print(alan)

153.86

In [26]:
16 ** 0.5

4.0

In [27]:
8 ** (1 / 3)

2.0

In [29]:
24 / 7

3.4285714285714284

In [30]:
int(24 / 7)

3

In [31]:
24 // 7  #floar division  bir sayinin icinde kactane oldugu gosterir

3

In [32]:
24 % 7  #### modust denirbir sayinin diger sayiya bolundukten sonra kismini gosterir.

3

In [33]:
25 % 7   # Buradaki 4 bolumde kalan 4  modulist deniyour

4

In [34]:
x = 5

In [40]:
x = x + 7   #   eger surekli kendini calistirsa herzman x kendine yeni deger ekliyor
x

47

In [46]:
y = 250

In [44]:
y -= 50
y

150

In [57]:
x  += 5
x

82

In [52]:
z = 5.0    # ayni satirda birkac kere calistirdigimizda sonuc degismiyor. ama baska satirda calistirirsak 
z *= 3
z

15.0

In [53]:
z *= 3
z

45.0

In [58]:
w = 45
w /=9
w

5.0

In [65]:
v = 2
v **=3             # v nin 3. u kuvveti
v

8

In [66]:
v **=3
v

512

In [67]:
k = 800
k //=25
k

32

In [68]:
k //=25
k

1

In [69]:
 t = 500
 t %=30
 t

20

In [72]:
t %=30
t

20

In [73]:
500 %=30  # Burada integer ifadeler sayi ile baslanmaz once bir degiskenle tanimlamamiz lazim

SyntaxError: 'literal' is an illegal expression for augmented assignment (3119031181.py, line 1)

In [74]:
#  TASK
# bir kenaru 5 diger kenari 12 olan dik ucgenin hipotenusu kactir

In [75]:
a = 5
b = 12
(a **2) + (b**2) = c
c

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (752034896.py, line 3)

In [3]:
a = 5
b = 12
#h = ?
# h ** 2 = a **2 + b ** 2          boyle calistirsak hata veriyor o yuzden basina comment yazdik ve h daha anlamli yazdik
h = (a ** 2 + b **2) ** 0.5         # 0.5 karakoku anlamina gelir
print (h)

13.0

In [4]:
"bulent" * 5

'bulentbulentbulentbulentbulent'

In [5]:
"apple" -"orange"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [6]:
"apple" / "orange"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [7]:
int ("33" + "3") / 6

55.5

In [8]:
("33" + "3")

'333'

In [16]:
type ( int ("333") / 6)

float

##### Print() fonksiyonu

In [ ]:
print()

In [19]:
x = "elma"
y = "portakal"

In [20]:
print (x, y)

elma portakal

In [21]:
x = "elma"
y = "portakal"
z = "armut"
t = False
k = 3.14

In [22]:
print(x, y, z, t, k)

elma portakal armut False 3.14

In [31]:
print ( x, y, z, t, k, sep="")

elmaportakalarmutFalse3.14

In [34]:
print ( x, y, z, t, k, sep="!")

elma!portakal!armut!False!3.14

In [35]:
print ( x, y, z, t, k, sep="-")

elma-portakal-armut-False-3.14

In [37]:
print(z)
print(k)

armut
3.14

In [38]:
print ("I'm python teacher")

I'm python teacher

In [40]:
print ("I'm python \nteacher")     #\n bir alt satira gecer

I'm python
teacher

In [41]:
print ("I'm \npython \nteacher")

I'm
python
teacher

In [42]:
print(z, end="*")
print (k)

armut*3.14

In [45]:
print(z)
print(k,end="*")
print(x)

armut
3.14*elma

In [50]:
x = "elma"
y = "portakal"
z = "armut"
t = False
k = 3.14

In [49]:
###### task
print(x)
print(y, z, sep="-")
print(k, end="*")

elma
portakal-armut
3.14*

In [51]:
#######   TASK
#Techpro
#education is 
#perfect

In [53]:
print ("Techno \neducation is \nperfect")

Techno
education is
perfect

In [ ]:
#### Escape Sequences

In [54]:
print ('I'm a python teacher)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (667061428.py, line 1)

In [56]:
print ('I\'m a python teacher')

I'm a python teacher

In [57]:
print("Techpro education is \nperfect")  # \n

Techpro education is
perfect

In [61]:
print("apple","orange","banana", sep="\t")

apple	orange	banana

In [62]:
print("apple","orange","banana", sep="-")

apple-orange-banana

In [64]:
print("apple","orange","banana", sep="\b")

applorangbanana

In [65]:
print("B106 and B116 are\b perfect") ### solundan harfi alir goturur

B106 and B116 ar perfect

In [71]:
print("\x53\x45\x44\x41\x54") ###hexa values

SEDAT

In [72]:
print("\x42\x45\x4c\x4d\x41")          ####\x ile yaziliyour bu kodlari googledn bak

BELMA

In [ ]:
#  Task
# Hello World!

In [73]:
print("\x48\x65\x6c\x6c\x6f\x20\x57\x6f\x72\x6c\x64\x21")

Hello World!

In [78]:
print("\123\105\104\101\124")  ##bu ottal sistmde yazilimis google tablo da var

SEDAT

In [79]:
chr(72)     ## bu da yine ASKI koduyla alakali

'H'

In [80]:
ord("H")

72

In [82]:
print(r"Techpro\n is perfect")  ##### eger \n kullanmak istiyorsak r yazabiliriz

Techpro\n is perfect