In [ ]:
print("Hello wo")

In [ ]:
Print("HELLO")

NameError: name 'Print' is not defined

In [ ]:
print('hello')

In [1]:
print('hello')

hello

In [ ]:
print('hello')

hello

In [ ]:
print('I'm a Python teacher)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3003501402.py, line 1)

In [ ]:
print('I m a Python teacher')

I m a Python teacher

In [ ]:
print("I'am a python teacher") #79karakterden fazla olmasini istemiyouruz

I'am a python teacher

In [ ]:
3+5    #3 ile 5 in toplamasi

8

###Variables

In [8]:
ages=35

In [9]:
pi_number

NameError: name 'pi_number' is not defined

In [ ]:
pi_number

In [ ]:
print(my_age)

In [18]:
my_age = 30
your_age =28
my_age = your_age
print(my_age)

28

In [ ]:
print (my_age)

In [17]:
first_name ="Sedat"
print(first_name)

Sedat

In [ ]:
x = "python is awesome"

In [11]:
k, n = "apple" , 8

In [12]:
print (k)

apple

In [ ]:
"Hello world" #str

print(type("Hello world)

In [13]:
pi_number =3.14
print(type(pi_number))

<class 'float'>

In [24]:
list_1 = "apple","limon" 
print(list_1)
list_1 = 5,5,2, 3.5
print(list_1)
list_1 = {"apple" , 5,5.2}
print(list_1)

('apple', 'limon')
(5, 5, 2, 3.5)
{5, 5.2, 'apple'}

In [16]:
print(type(list_1))

<class 'set'>

In [2]:
x = y= z = "orange"
print(x)
print(y)
print(z)

orange
orange
orange

In [5]:
print("sedat "+"hoca")

sedat hoca

In [4]:
print("sedat  "   +  "hoca")

sedat  hoca

In [7]:
r = False

In [8]:
print(type)

<class 'type'>

In [10]:
r = false

NameError: name 'false' is not defined

In [12]:
r = "False"

In [ ]:
print(type(r))

In [13]:
print(type(r))

<class 'str'>

In [16]:
from re import X


x, y, z = "apple", "banana", "orange"
print(x)
print(y)
print(z)

apple
banana
orange

In [21]:
#fruits = ["apple", "banana", "cherry", "orange"]
x, y, z = fruits
print (x)
print (y)
print (z)

ValueError: too many values to unpack (expected 3)

In [22]:
fruits = ["apple", "banana", "cherry"]
print (x)
print (y)
print (z)

apple
banana
orange