In [2]:
False = "ben bir hata yaptim"

SyntaxError: cannot assign to False (1736286349.py, line 1)

In [5]:
true = "ben bugun bututn sorulari dogru cozdum"

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
class = "B106"

SyntaxError: invalid syntax (2408240893.py, line 1)

In [8]:
class_name = "B106"

In [10]:
from re import X


x = "Techpro"
y = X

In [11]:
x = "Techpro"

In [16]:
x = "Techpro"
y =  x 
x = "python"

In [17]:
print(x)
print(y)

python
Techpro

In [18]:
print(x)
print(y)

python
Techpro

In [25]:
person = "John"
age = 30
department = "Data Scientist"
salary = 120000
person = "Adam"
age =32
department ="Web Developer"
salary = 110000

In [21]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
110000
32

In [23]:
person = "John"
age = 30
department = "Data Scientist"
salary = 120000
person = "Adam"
age =32
department ="Web Developer"
#salary = 110000

In [26]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
110000
32

# type convesion
all type of

In [28]:
#Type Conversion
age =30
converted_age = str(age)
type(converted_age)

str

In [30]:
print(converted_age)

30

In [31]:
bool_deneme = False

In [32]:
type(bool_deneme)

bool

In [33]:
x = str (bool_deneme)

In [34]:
type(x)

str

In [35]:
x

'False'

In [36]:
x = str(bool_deneme)

In [37]:
type (str(bool_deneme))

str

In [38]:
pi = 3.14
pi =int(pi)

In [40]:
type(pi)

int

In [41]:
pi

3

In [45]:
age = input("Enter your age")

In [46]:
age

'30'

In [48]:
2022 - int(age)

1992

In [53]:
age_2 = int(input("Enter your age"))

In [54]:
age_2

18

#float to in

In [55]:
y = 5.2

In [57]:
y = int(y)
y

5

In [59]:
z = 5.9
z =int(z)
z

5

In [60]:
apple_2 = 25

In [62]:
apple-2 =20

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (498599563.py, line 1)

###### int to float

In [64]:
x = 3
x = float(x)
print (x)

3.0

In [ ]:
#str to float

In [66]:
age = "on sekiz"
age = int (age)
age

ValueError: invalid literal for int() with base 10: 'on sekiz'

In [67]:
pi = "3.14"
pi = float (pi)
pi

3.14

In [68]:
type(pi)

float

In [69]:
age = "30"
age = int (age)
age

30

In [70]:
x = 25
y = "15"
z = "2.5"
w = "I'm at_"

In [72]:
print(x - int(y))
print(x - float(z))
print(z + str(x))

10
22.5
2.525

In [73]:
print(w + str(x))  # "i'm at_" + "25"

I'm at_25

In [74]:
"15" + 15

TypeError: can only concatenate str (not "int") to str

In [75]:
int("15") + 15

30

In [ ]:
##### bir onceki dersten devam

In [77]:
x = "2.15a"
x = float(x)
x

ValueError: could not convert string to float: '2.15a'