In [3]:
list("Fatih")

['F', 'a', 't', 'i', 'h']

In [4]:
liste_1 =list(1990)             ##### list fonksiyonunun icine itterable olmayan bir ifade koyamiyoz

TypeError: 'int' object is not iterable

In [5]:
liste_1 = list("hello world")
print(len(liste_1))

11

In [12]:
str_1 = "hello world"

In [13]:
liste_2 = list (str_1)
liste_2

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [14]:
liste_2 = list(str_1)
liste_2

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [15]:

liste_3 =[str_1]                      #### buifade koseli parantezle yazdirdik
liste_3

['hello world']

In [18]:
[1990]                           #### koseli parantez

[1990]

In [20]:
new_list_1 = [3, 3.14, "ahmet", [3, 5, False]]      ####  virgule ayirilan ve koseli parantez tek bir eleman
new_list_1

[3, 3.14, 'ahmet', [3, 5, False]]

In [21]:
len(new_list_1)

4

In [22]:
new_list_1 [4][0]   ##### Cunku new list in 4. elemani bir karakter o yuzden hata verir.

IndexError: list index out of range

In [25]:
sayi_listesi = [[15, [13, 19], 24, 26, 28]]     ### bunun len i 1

In [26]:
len(sayi_listesi)

1

In [27]:
sayi_listesi[0][1:3]  ####  buradaki sayi listesinde 0 buyuk koseli parantezin hepsini verir ve onun icindeki 1 den 3 e kadar olan yer

[[13, 19], 24]

In [28]:
letters = ["a", "b", "c", "d", "e", "f", "g"]

In [29]:
letters[1:3] = ["1","2"]      ### b, c yerine 1, 2 koyuyor
letters

['a', '1', '2', 'd', 'e', 'f', 'g']

In [30]:
sayilar = [1, 2, 3, 4, 5]
sayilar

[1, 2, 3, 4, 5]

In [38]:
sayilar.append(6)     ####icine sadece bir eleman aliyor ve sonuna ekliyor

In [39]:
sayilar               ####  burada birkac defa calisttirdigim icin o yuzden 6 fazla oldu

[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 6]

In [40]:
c   #### burada hata aliyour cunku bir eleman olmasi lazimdi.

TypeError: list.append() takes exactly one argument (2 given)

In [42]:
sayilar.append((15,20))     burada tuple oldugu icin tek eleman kabul ediyor

In [43]:
sayilar

[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 6, (15, 20), (15, 20)]

In [44]:
sayilar.insert(2,"yana kay 3")    ###indexte 2 nin yerin geliyour digerlerini yana kaydiriyour.
sayilar

[1, 2, 'yana kay 3', 3, 4, 5, 6, 6, 6, 6, 6, 6, (15, 20), (15, 20)]

In [45]:
numbers =[1, 4, 9, 16, 25]

In [46]:
numbers.remove((2, 3))     #### remove index silmiyour

ValueError: list.remove(x): x not in list

In [49]:
numbers.remove(4)

ValueError: list.remove(x): x not in list

In [50]:
numbers

[1, 9, 16, 25]

In [51]:
numbers.remove(9)

In [52]:
numbers

[1, 16, 25]

In [53]:
numbers.append(1)

In [54]:
numbers

[1, 16, 25, 1]

In [55]:
numbers.remove(1)  ### ilk gordugu 1 siler

In [57]:
numbers

[16, 25, 1]

In [62]:
liste_5 = ["apple", "orange", "banana", "pine apple"]

In [65]:
liste_5.sort()    #### Burada ASKII yer gore siraliyour.

In [66]:
liste_5

['apple', 'banana', 'orange', 'pine apple']

In [67]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

In [68]:
thislist.pop()  ###  appende benaiyour eger bir sey belirtmezsek sondakini siliyour

'cherry'

In [69]:
thislist

['banana', 'Orange', 'Kiwi']

In [70]:
thislist.pop(1)   #### indexteki 1 i

'Orange'

In [71]:
thislist

['banana', 'Kiwi']

In [72]:
liste_2

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [75]:
liste_2.clear()    ## bos liste yapti

In [76]:
liste_2

[]

In [78]:
liste_5

['apple', 'banana', 'orange', 'pine apple']

In [110]:
liste_5 = ['apple', 'banana', 'orange', 'pine apple']
liste_5

['apple', 'banana', 'orange', 'pine apple']

In [111]:
liste_5.sort()

In [112]:
liste_5.sort(reverse = True)   ##### reverse buyukten kucuge dogru siraladi.

In [113]:
liste_5

['pine apple', 'orange', 'banana', 'apple']

In [114]:
liste_5.sort(reverse = 1)

In [115]:
liste_5

['pine apple', 'orange', 'banana', 'apple']

In [117]:
liste_5.sort(reverse = 0)

In [118]:
liste_5

['apple', 'banana', 'orange', 'pine apple']

In [79]:
del liste_5[2]

In [80]:
liste_5

['apple', 'banana', 'pine apple']

In [83]:
del liste_5              ###hepsini sildi

In [84]:
liste_5

NameError: name 'liste_5' is not defined

In [85]:
liste_3.extend(liste_5)

NameError: name 'liste_5' is not defined

In [86]:
liste_1

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [87]:
liste_3

['hello world']

In [88]:
liste_3.extend(liste_1) #### extend itterable olarak ekledi yani herbir karakter olarak ekledi. append ile yapsak onu bir karakter eklyecek

In [89]:
liste_3

['hello world', 'h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [90]:
liste_3.index("e")  ### e nin degeri buluyour

2

In [91]:
liste_3.index("o")   ### ilk gordugu degeri donduruyor.

5

In [92]:
liste_3.index("p")    ### p listede yok

ValueError: 'p' is not in list

In [96]:
liste_3.index("hello world"[4:5])

5

In [97]:
liste_3.index("hello world")    ### hello world 0. degerde

0

In [98]:
liste_3.index("hello world"[4:5])   ## hello world teki 5 in degerini buldu

5

In [99]:
liste_3.index("hello world"[4:7])

ValueError: 'o w' is not in list

In [100]:
liste_3.append("o w")

In [101]:
liste_3

['hello world', 'h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', 'o w']

In [102]:
liste_3.index("hello world"[4:7])   ###hello world teki 4 ten 7 ye olan deger o w ve bunlarda liste 3.te 12 indexte oluyour

12

In [103]:
"hello world".find("o")

4

In [104]:
"hello world".find("ello" [3:4])

4

In [105]:
"ello"[3:4]

'o'

In [119]:
liste_5

['apple', 'banana', 'orange', 'pine apple']

In [120]:
liste_5.index("apple")

0

In [121]:
liste_5.index("pine apple"[5:])

0

In [122]:
"pine apple"[5:]

'apple'

In [123]:
liste_5.reverse()

In [124]:
liste_5

['pine apple', 'orange', 'banana', 'apple']

In [125]:
liste_5[::-1]   #### Bastan sona -1 ile git, tersini yazdirdi.

['apple', 'banana', 'orange', 'pine apple']

In [129]:
sayilar = [1,5,2,9,7,15,13]

In [130]:
sayilar.sort()   ###kucukten buyuge siraladi.

In [131]:
sayilar

[1, 2, 5, 7, 9, 13, 15]

In [132]:
sayilar.sort(reverse = True)   ####buyukten kucuge siraladi

[15, 13, 9, 7, 5, 2, 1]

In [137]:
litters = ["a", "c","o", "e"]

In [135]:
litters.sort()

In [138]:
litters

['a', 'c', 'o', 'e']

In [141]:
litters.sort(reverse= True)

In [140]:
litters

['a', 'c', 'o', 'e']

In [148]:
liste_6 = [1, "e", 5, "a"]

In [149]:
liste_6.sort()    #########siralamadi cunku integer ve string bir arada

TypeError: '<' not supported between instances of 'str' and 'int'

In [150]:
bool_1 = [False, True]

In [151]:
bool_1.sort()

In [152]:
bool_1   #### bunlari siraladi False 0 dir. True 1 dir.

[False, True]

In [153]:
bool_1.sort(reverse = 1)   #### reverse buyukten kucuge siraladi.

In [154]:
bool_1

[True, False]

TUPLES  #### degistirilemzdir inmuttable dir.
        ### listelerle benzer ozellik var listeye gore daha hizli calisir.
        ### daha guvenli yani degismiyor

In [ ]:
####   iki tuple olusturma yontemi 1()
 ####                              2 tuple()

In [156]:
name = "Techpro"

In [157]:
tuple(name)                       ##### farki koseli parantez almadi

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [158]:
tuple(1453)                    ####tuple tuple da liste gibi itearable deger almasi gerek

TypeError: 'int' object is not iterable

In [159]:
x = tuple("hello")

In [160]:
x

('h', 'e', 'l', 'l', 'o')

In [161]:
type(x)

tuple

In [163]:
y = (1453)
print(y)

1453

In [164]:
type(y)

int

In [165]:
z = [1453]
type(z)

list

In [166]:
y = ("1453")
type(y)

str

In [ ]:
w = (1099,)#####  bir elemanli tuple olusturabilmemiz icin virgul koymamiz gerek bu sart

In [167]:
q = 1,2,3

In [168]:
type(q)      #### paranteez kullanmagiginda python bunu tuple olarak algiliyour,sahip cikan olmazsa tuple sahip cikiyour.

tuple

In [171]:
t = ( 5, "hello")
type(t)

tuple

In [172]:
t = (5)
type(t)

int

In [174]:
t = (5,)
type(t)

tuple

In [176]:
b = ()
type(b)

tuple

In [177]:
tuple_1 = (1, "hello", False, [1,2],(3,4))

In [178]:
type (tuple_1)

tuple

In [179]:
aa = tuple([1,2,3])

In [180]:
aa

(1, 2, 3)

In [181]:
type(aa)

tuple

In [190]:
bb = tuple ("world")
bb

('w', 'o', 'r', 'l', 'd')

In [187]:
type(bb)

tuple

In [191]:
cc = tuple((1,2,3,4,5))     #### tuple yazmak lazim
cc

(1, 2, 3, 4, 5)

In [192]:
xx = "ahmet", "mehmet", "selin"
xx

('ahmet', 'mehmet', 'selin')

In [193]:
yy = "ahmet"
type(yy)

str

In [195]:
yy = "ahmet",   #### virgule dikkat
type(yy)

tuple

####  RANGE()   ### BURAYA YAZDIGMIZ DEGERLER ARASINDAKI INTEGER SAYILARI OLUSTURUR.

In [196]:
range(2,8)

range(2, 8)

In [197]:
tuple(range(2,8))  #### ayni sayidan baslyip son sayi alinmiyour

(2, 3, 4, 5, 6, 7)

In [199]:
list(range(15))  ######## bunu list olarak ta yazabiliriz. Eger bir iki sayi belirtmezsek default olarak alir yani 0 dan 15 e kadar olani

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [201]:
tuple(range(0,50,2))  ####  50 den baslasin 50 ye kadar gitsin ve 2 serli gitsin
                      ### sigmayinca alt alta yaziyor

(0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48)

In [203]:
tuple(range(2,50,3))

(2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47)

In [204]:
tuple(range(10,0,-1))  buyukten kucuge dogru gitti

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [205]:
tuple(range(0,10,-1))      ##### Stop-Start-Step e dkkat

()

In [207]:
tuple(range(0,50,2))[::-1] ###buyukten kucuge dogru okudu

(48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0)

In [ ]:
ortaya_karisik = ()

In [211]:
zz = tuple(range(10, 0, -1))

In [212]:
len(zz)

10

In [213]:
max(zz) #####  max gosterir

10

In [214]:
min(zz) ### min gosterir

1

In [217]:
ortaya_karisik = (1, 3.14, "helllo", (2,5), ["sedat", 5, False])

In [218]:
len(ortaya_karisik)

5

In [220]:
ortaya_karisik[4].append(3.65)

In [221]:
ortaya_karisik   ### tuple degistirilemz dedik ama burada tuple icindeki listede degisiklik yaptil

(1, 3.14, 'helllo', (2, 5), ['sedat', 5, False, 3.65])

In [222]:
len(ortaya_karisik)  ### 3. 65 geldigi halde len sayisi degismedi.

5

In [223]:
eklenecek_tuple = (5,10)
ortaya_karisik += eklenecek_tuple
ortaya_karisik

(1, 3.14, 'helllo', (2, 5), ['sedat', 5, False, 3.65], 5, 10)

In [224]:
a = ("hello")   ###virgul yok
b = (3, 5, 7)
b += a
print(b)

TypeError: can only concatenate tuple (not "str") to tuple

In [225]:
a = ("hello",)
b = (3, 5, 7)
b += a
print(b)

(3, 5, 7, 'hello')

In [226]:
tuple_1

(1, 'hello', False, [1, 2], (3, 4))

In [229]:
list_1 = list(tuple_1)
list_1

[1, 'hello', False, [1, 2], (3, 4)]

In [230]:
len(list_1)

5

In [235]:
list_1

[1, 'hello', False, [1, 2], (3, 4)]

In [240]:
list_1.append((5, 6))

In [241]:
list_1

[1, 'hello', False, [1, 2], (3, 4), (5, 6)]

In [242]:
tuple_2 = tuple(list_1)
tuple_2

(1, 'hello', False, [1, 2], (3, 4), (5, 6))

In [244]:
tuple_2.count(5)   ### tuple icindeki elemani syiyour. listededkini saymadi.

0

In [247]:
tuple_2.index(False)

2

In [248]:
tuple_2[3][0]

1

In [249]:
tuple_2[1][4]

'o'

In [250]:
tuple_2[1:3]

('hello', False)

In [253]:
tuple_2 [3][0]

1

In [255]:
tuple_2[1][4]

'o'

In [ ]:
tuple_2